body,div,ul,ol,li {	margin:0;padding:0;}

a,a:link,a:visited,a:hover {color:#2e577a;text-decoration:none;}

.clear {clear:both;}

body {line-height: 1.6em;font:10px Calibri;}

#placemainmenu {width:100%;height: 51px;margin: -10px 10px 0 1px;background: url(../images/mainmenu.png) no-repeat;}

#mainmenu {width:100%;height: 42px;float: left;margin: 4px 0 0 4px;display: inline;}

#mainmenu li {height: 42px;float: left;display: inline;background: url(../images/sepmenu.png) no-repeat 100% 0;position: relative;}

#mainmenu li a, #mainmenu li a:link, #mainmenu li a:visited {height: 30px;float: left;padding: 12px 15px 0 15px;font-weight: bold;
	font-size: 90%;font-family:verdana,helvetica,arial,sans-serif;}
	
#mainmenu li:hover a, #mainmenu li:hover a:link, #mainmenu li:hover a:visited, #mainmenu li.active a, #mainmenu li.active a:link, 

#mainmenu li.active a:visited {background: #483D8B;color: #fff;text-decoration: none;}

#placemainmenu ul li .dropdown1 {position:absolute;z-index:500;display:none;width:228px;margin:29px 0 0 0;left:-16px;padding: 0;}


#placemainmenu ul li .dropdown1 .dropdowntop {width: 228px;height: 30px;background: url(../images/dropdown_top1.png) no-repeat;}

#placemainmenu ul li .dropdown1 .dropdownbottom {width: 228px;background: url(../images/dropdown_bottom1.png) no-repeat 0 100%;
	padding: 0 0 30px 0;}
	
#placemainmenu #mainmenu li:hover a.linkdropbig, #placemainmenu #mainmenu li:hover a.linkdropbig:link, #placemainmenu #mainmenu 

li:hover a.linkdropbig:visited {float: left;width: 287px;height: 20px;border-bottom: 1px solid #e3e3e3;background: none;color: #483D8B;font-size: 80%;font-family:verdana,helvetica,arial,sans-serif;padding: 0 0 0 5px;margin: 0 0 0 29px;}

#placemainmenu #mainmenu li:hover a.linkdropbig:hover {text-decoration: underline;}

#placemainmenu ul li .dropdown1 ul.menudrop1 {width: 170px;margin: 0 0 0 29px;}

#placemainmenu ul li .dropdown1 ul.menudrop1 li {width: 170px;height:29px;background: none;padding: 0;margin: 0;display: inline;
	float: left;border-bottom: 1px solid #ededed;}
	
#placemainmenu #mainmenu li:hover ul.menudrop1 a, #placemainmenu #mainmenu li:hover ul.menudrop1 a:link, #placemainmenu #mainmenu li:hover ul.menudrop1 a:visited {
	color:#818181;
	font-size: 80%;
	font-family:verdana,helvetica,arial,sans-serif;
	text-transform: none;
	margin: 0;
	background: none;
	display: inline;
	float: left;
	height: 21px;
	width: 160px;
	padding: 8px 5px 0 5px;}
	
#placemainmenu #mainmenu li:hover ul li:hover a:hover, #placemainmenu #mainmenu li ul li:hover a:hover, #placemainmenu #mainmenu li:hover ul li:hover a {text-decoration:none;color:#fff;background: #483D8B;}
div#placemainmenu li:hover .dropdown1,
div#placemainmenu li li:hover .dropdown1
{display:none;}
div#placemainmenu li:hover .dropdown1,
div#placemainmenu li li:hover .dropdown1
{display:block;cursor:pointer;}
