<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>


  <connectionStrings>
    <!--<add name="conn" connectionString="Data Source=74.54.201.178,4433;User id=capexbd; password=capexcharan%%%; Trusted_Connection=True;  Initial Catalog=capexbd; Integrated Security=SSPI"/>-->
   
    <add name="conn" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CapexBD;Integrated Security=True;Pooling=False"/>
    
    
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>
