a 		{ text-decoration:none; color:blue; outline:none; background-color:inherit; }
#slideshow {
 margin:0px 0px 6px;
 padding: 4px;
 border: 1px solid #FFFFCC;
 background: #FFFFFF;
 width:550px;
}
#slideshow_img {
 border: 1px solid #FF99FF;
 margin-right: 5px;
}
#slideshow_text {
 border: 5px solid #FFCCFF;
 padding:5px;
 background: #FFFFFF;
  width:570px;
font-size:75%;font-family:verdana,helvetica,arial,sans-serif; color:#333; text-align:justify; padding:5px 0;
}
#slideshow_controls {
 background: #FFFFFF;
 color: black;
 margin:0px 0px 6px;
 padding: 4px;
 border: 2px solid #FF99FF;
}
.slideshow_heading {
 margin: 0px;
 padding: 2px;
 color: black;
 font-weight: bold;
 font-size: 14px;
}
#slideshow_controls input {
 padding:1px 2px;
 font-size: 10px;
}
#slideshow_controls select {
 font-family: serif;
 font-size: 12px;
}
.variable {
 font-family: "Courier New", monospace;
 font-size: 12px;
}
.method {
 font-family: "Courier New", monospace;
 font-size: 12px;
}
tt {
 font-family: "Courier New", monospace;
 font-size: 12px;
}
step {
 font-size: 14px;
 font-weight: bold;
}


.form_content {  float:left; margin:5px 0;}

form{ margin:15px 0 0 0; float:left;}

.input_box { width:40px; background-color:#CCCCCC;}

input { background:#f6f6f6; border:1px solid #1E90FF; width:48px; font:12px "Trebuchet MS"; color:#333; padding:2px; }

textarea { background:#f6f6f6; border:1px solid #1E90FF; width:40px; font:12px "Trebuchet MS"; color:#333; padding:2px;}

label{ width:45px; font:13px "Trebuchet MS"; float:left;}

.left_cont{ float:left;   width:400px}

.right_cont{ float:left; margin:0 0 0 25px;}

.submit  { background: #00A9FC; border: 1px solid #D9F1FE; color: #FFFFFF; cursor: pointer; float: left; font: bold 15px Tahoma,Geneva,sans-serif; height: 30px; margin: 10px 0 0 120px; padding: 0; width: 80px; }

