html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* (mt) global styles */
html {
	font-size: 100%;
}
body {
	font: normal 11px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	text-align: center;
	color: blue;
	padding: 0;
	margin: 0;

	width:100%;
	letter-spacing:-0.04em;

}

a:focus {
	outline:none;
}
a {
	text-decoration:none;
	color:#005e8f;
}
a:hover, a:focus {
	text-decoration:underline;
}
a em, .hide {
	position:absolute;
	left:-9999em
}
hr {
	color:#ededed;
	border:0;
	margin:0;
	padding:0;
	display:block;
	height:1px;
	background:#ededed;
	width:93%;
}
p {
	font:normal 12px Helvetica, Arial, sans-serif;
	line-height:18px;
	letter-spacing:normal;
	color:#555;
	padding:0 0 1em;
}
#footerdiv, #contentdiv, #nrgdiv {
	margin:0 auto;
	width:955px;
	text-align:left;
}
#header {
	height:70px;
	width:100%;
	z-index:999;
}
#headerdiv {
	margin:0 auto;
	text-align:left;
	width:955px;
	position:relative;
}



